h1 {
	font-size: 26px;
}

h2 {
	font-size: 20px;
}

body, h1 {
    color: #8AD1FD;
}

div#root {
    padding-top: 10%;
}

a {
    color: #5e9fc7;
}

#links {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    div#root{
        padding: 40px;
    }
}